---
layout: archive
permalink: /year-archive/
title: " "
author_profile: false
redirect_from:
  - /wordpress/blog-posts/
---

To be updated...

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/124576371?spm=1001.2014.3001.5501">USRP系列（一）：软件定义无线电（SDR）</a>

<br>
<br>

<a href="https://blog.csdn.net/UncleWa/article/details/124576744?spm=1001.2014.3001.5501">USRP系列（二）：USRP作用、组件及产品系列介绍</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/124577243?spm=1001.2014.3001.5501">USRP系列（三）：NI 与Ettus Research的USRP区别</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/124577486?spm=1001.2014.3001.5501">USRP系列（四）：USRP RIO 和 Stand-alone USRP</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/123780502?spm=1001.2014.3001.5501">阵列导向矢量（Steering vector）推导</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/123558906?spm=1001.2014.3001.5501">Conic Programming 锥规划问题</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/119617800?spm=1001.2014.3001.5501">强对偶性与KKT条件</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/125892778?spm=1001.2014.3001.5501">Zotero-无法打开zotero数据库</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/119548880?spm=1001.2014.3001.5501">VS code +Latex+SumatrPDF正反向搜索设置</a>

<br>
<br>
<a href="https://blog.csdn.net/UncleWa/article/details/121483231?spm=1001.2014.3001.5501">VScode反向搜索突然失效解决方案</a>







<div style='display: none'>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
</div>